.root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 16px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
}

.content {
    background: white;
    color: black;
    width: 400px; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: relative;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.formContainer {
    width: 100%;
    max-width: 400px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.formField {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.formField:focus {
    border-color: #007bff; 
    outline: none;
}

.taskCard {
    background-color: #f8f9fa;
    padding: 16px;
    margin: 12px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.taskCard label {
    font-weight: bold;
}

.taskCard span {
    margin-left: 8px;
    color: #555;
}

.loginLink {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
}

.loginLink a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.loginLink a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }
    .taskCard {
        font-size: 14px;
    }
}
